apiVersion: apps/v1
kind: Deployment
metadata:
  name: vulnerable-app
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vulnerable-app
  template:
    metadata:
      labels:
        app: vulnerable-app
    spec:
      containers:
        - name: app
          image: nginx:latest
          ports:
            - containerPort: 80
              hostPort: 8080
          securityContext:
            privileged: true
            allowPrivilegeEscalation: true
---
apiVersion: v1
kind: Pod
metadata:
  name: debug-pod
spec:
  hostPID: true
  hostNetwork: true
  containers:
    - name: debug
      image: busybox
      command: ["sleep", "infinity"]
